*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* UTILITIES */
header{
    margin-bottom: 20px;
}
.row{
    max-width: 1170px;
    display: flex;
    margin: 0 auto;
}
h2{
    width: 100%;
}
.card{
    margin-top: 20px;
    border: 1px solid black;
    width: calc(100%/3 - 20px);
    height: 500px;
    margin: 10px;
}
.content-img-card{
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
}
img{
    width: 100%;
    width: 300px;
    
}
